

$primary-color: #082F49;
$secondary-color: #155E75;
$tertiary-color: #06B6D4;
$sub-color: #E0F2FE;

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: $sub-color;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    height: 55px;
    font-size: 1rem;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1;
    transition: .2s ease-in-out;
    background-color: $primary-color;
    box-shadow: #0000001a 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
    ul {
            display: flex;
    }
    li {
        list-style: none;
    }
    
    li a {
        text-decoration: none;
        color: $sub-color;
        letter-spacing: 1px;
        padding: 15px 10px;
        margin: 0 20px;
        &.active {
            border-bottom: 4px solid $tertiary-color;
            color: $tertiary-color;
        }
        &:hover {
            color: $secondary-color;
        }
        
    }
    .brand {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menubar {
        position: absolute;
        cursor: pointer;
        width: 26px;
        height: 16px;
        right: 20px;
        top: 18px;
        transition: .5s ease-in-out;
        display: none;
        z-index: 5;

        .container {
            width: 100%;
            height: 100%;
            position: relative;

            span {
                z-index: -2;
                display: block;
                position: absolute;
                height: 3px;
                width: 50%;
                background-color: $sub-color;
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(even){
                    left: 50%;
                }
                &:nth-child(odd){
                    left: 0;
                }
                &:nth-child(1), &:nth-child(2) {
                    top: 0;
                }
                &:nth-child(3), &:nth-child(4) {
                    top: 7px;
                }
                &:nth-child(5), &:nth-child(6) {
                    bottom: 0;
                }
                
            }
        }
    }
}

.projects h1, .about h1, .contact h1{
    font-size: 2rem;
    letter-spacing: 2px;
    color: $primary-color;
}
.cover {
    width: 100%;
    height: 1400px;
    position: absolute;
    margin: auto;
    top: 0;
    background-image: url('./images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.75;
    
}
.hero {
    max-width: 1300px;
    padding: 120px 30px 30px 30px;
    height: 700px;
    margin: auto;
    
    .heading h1 {
        font-size: 6vh;
    }
    .heading p {
        max-width: 350px;
        margin: 30px auto;
    }
    .heading .btn {
        margin-top: 30px;
        
        a {
            width: 100px;
            font-size: .9rem;
            letter-spacing: 1px;
            color: $sub-color;
            padding: 12px 19.2px;
            text-decoration: none;
            background-color: $primary-color;
            transition: .3s;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

            &:hover{
                color: $tertiary-color;
                transition: .3s;
            }
        }
    }
    .container {
        width: 100%;
        height: 600px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
   
}

.about{
    padding-top: 50px;
    width: 100%;

    .container  {
        width: 100%;
        height: 750px;
        padding: 50px 30px 100px;
        background-color: $primary-color;
    }
    .header {
        max-width: 1250px;
        margin: auto;
    }
    h1 {
        position: relative;
        width: 160px;
        color: $sub-color;
        &:before{
            content: '';
            position: absolute;
            width: 20%;
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $tertiary-color;
        }
    }
    .wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-top: 70px;

        .profile {
            text-align: center;

            .overlay{
                position: relative;
                width: 260px;
                height: 230px;
                margin: auto;
                background-color: $tertiary-color;

            }
            img {
                width: 100%;
                position: absolute;
                top: 35px;
                left: 35px;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            }
        }
        .about-me {
            padding-left: 30px;

            p {
                line-height: 27px;  
                color: $sub-color;
                font-weight: lighter;
                font-size: 16px;
            }
            .name {
                margin-top: 15px;
            }
        }
            
        .tech {
            margin-top: 10px;
        }
        .skills {
            margin-top: 10px;
            display: flex;
            color: $sub-color;
            font-size: .9rem;
            font-size: 16px;

            .left div, .right div {
                margin: 8px;
            }
            
        }
    }

}
.projects{
    padding: 100px 30px 0 30px;
    height: auto;
    margin: 80px auto 0 auto;
    max-width: 1300px;
 
    h1 {
        position: relative;
        width: 100px;
        &:before{
            content: '';
            position: absolute;
            width: 30%;
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $tertiary-color;
        }
    }
    .container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap row;
        width: 100%;

        > div {
            max-width: 270px;
            height: 320px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 10px 10px;
            background-color: $primary-color;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        }
        img {
            width: 100%;
            height: 180px;
        }
        .title {
            text-align: right;
            margin-top: 30px;
            margin-right: 16px;
            color: $sub-color;
            font-size: 1rem;
        }
        .tools {
            display: flex;
            flex-wrap: wrap;
            div {
                border-radius: 15px;
                font-size: .6rem;
                padding: 8px 12px;
                margin-left: 10px;
                margin-top: 5px;
                background-color: $secondary-color;
                color: $sub-color;
            }

        }
        .btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 22px;
            right: 5px;
        }
        a {
            padding: 8px 15px;
            text-decoration: none;
            color: $sub-color;

            &:hover {
                color: $secondary-color;
            }
        }
        .demo {
            margin: 0 10px;
        }
        .demo a {
            background-color: $tertiary-color;
        }
        .code a {
            background-color: $tertiary-color;
        }

    }
}
.contact{
    padding: 100px 0 0;
    margin-top: 150px;
    width: 100%;
    position: relative;
    height: auto;

    .container {
        max-width: 1300px;
        margin: auto;
        padding: 0 30px;
        height: 700px;
    }
    .wrap {
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        
    }
    form {
        max-width: 400px;
        padding: 0 20px;
        

        label {
            color: $secondary-color;
        }
        input[type=text] {
            width: 100%;
            padding: 12px 15px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $tertiary-color;
            box-sizing: border-box;
            color: $primary-color;
            background-color: #f5faff;

          }
        
          input[type=submit] {
            width: 30%;
            background-color: $primary-color;
            color: $sub-color;
            padding: 12px 18px;
            margin: 8px 0;
            border: none;
            cursor: pointer;

            &:hover {
                color: $tertiary-color;
            }
          }
          textarea {
            width: 100%;
            padding: 12px 15px;
            margin: 8px 0;
            border: 1px solid $tertiary-color;
            color: $primary-color;
            background-color: #f5faff;
          }
    }


    h1 {
        position: relative;
        width: 100px;
        &:before{
            content: '';
            position: absolute;
            width: 30%;
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $tertiary-color;
        }
    }

    .details {
        width: 400px;
        padding: 0 20px;
        margin-top: 23px;
        .header {
            font-size: .9rem;
            letter-spacing: 3px;
            font-weight: bold;
            color: $secondary-color;
        }
        .info {
            font-size: .9rem;
            color: $primary-color; 
            p {
                margin-top: 10px;
            }
            a{
                color: $primary-color;
            }
        }

        .social-media{
            margin-top: 30px;
            p {
                font-size: 17px;
            }
            .links{
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
    
                div:nth-child(2), div:nth-child(3){
                    margin-left: 10px;
                }
    
                a {
                    color: $primary-color;
                    font-size: 2rem;  
                    
                    &:hover {
                        color: $tertiary-color;
                    }
                }
                
            }
        }
    }
    
    #wave {
        position: absolute;
        bottom: 0;
        z-index: -1;


    }
    
}
@media (max-width: 676px) {
    .about {
        .container {
            height: auto;
        }
        .about-me {
            margin-top: 90px; 
        }
    }
}
@media (max-width: 769px){
    nav{
        align-items: flex-start;
        padding: 0;
        flex-direction: column;
        height:  55px;
        overflow: hidden;

        ul{
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-top: 24px;

            li {
                margin-top: 40px;
            }
        }
        .brand {
            margin-top: 10px;
            margin-left: 10px;
            height: 40px;
        }
        .menubar {
            display: block;
        }
    }
    .hero {
        padding-top: 80px;
        height: auto;
        .container {
            flex-direction: column-reverse;
            align-items: flex-start;

            .left {
                width: 100%;
                h1 {
                    font-size: 1.8rem;
                }
            } 
            .right {
                width: 100%;
            }
            .right img {
                width: 100%;
                display: flex;
                justify-content: center;
            } 
        }
       
    } 
}

nav.openNav{
    height: 400px;
}
//Rotate
.menubar.open span:nth-child(1), .menubar.open span:nth-child(6) {
    transform: rotate(40deg);
}
.menubar.open span:nth-child(2), .menubar.open span:nth-child(5) {
    transform: rotate(-40deg);
}

.menubar.open span:nth-child(1) {
    left: 2px !important;
    top: 6px !important;
}
.menubar.open span:nth-child(2) {
    left: calc(50% - 2px) !important;
    top: 6px !important;
}

.menubar.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menubar.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menubar.open span:nth-child(5) {
    left: 2px !important;
    top: 14px !important;
}

.menubar.open span:nth-child(6) {
    left: calc(50% - 2px) !important;
    top: 14px !important;
}
  
