* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #e0f2fe;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 0.2s ease-in-out;
  background-color: #082f49;
  box-shadow: rgba(0, 0, 0, 0.1019607843) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #e0f2fe;
  letter-spacing: 1px;
  padding: 15px 10px;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}
nav li a.active {
  color: #06b6d4;
}
nav li a:hover {
  color: #155e75;
}
nav .brand {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menubar {
  position: absolute;
  cursor: pointer;
  width: 26px;
  height: 16px;
  right: 20px;
  top: 18px;
  transition: 0.5s ease-in-out;
  display: none;
  z-index: 5;
}
nav .menubar .container {
  width: 100%;
  height: 100%;
  position: relative;
}
nav .menubar .container span {
  z-index: -2;
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #e0f2fe;
  transition: 0.25s ease-in-out;
}
nav .menubar .container span:nth-child(even) {
  left: 50%;
}
nav .menubar .container span:nth-child(odd) {
  left: 0;
}
nav .menubar .container span:nth-child(1), nav .menubar .container span:nth-child(2) {
  top: 0;
}
nav .menubar .container span:nth-child(3), nav .menubar .container span:nth-child(4) {
  top: 7px;
}
nav .menubar .container span:nth-child(5), nav .menubar .container span:nth-child(6) {
  bottom: 0;
}

.projects h1,
.about h1,
.contact h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #082f49;
}

.hero {
  max-width: 1300px;
  padding: 10px 10px 30px 10px;
  height: 800px;
  margin: auto;
}
.hero .container {
  width: 100%;
  height: 750px;
  padding: 50px 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .typewrite {
  display: flex;
  align-items: baseline;
  display: flex;
  overflow: hidden;
  padding: 10px 0;
}
.hero .typewrite .static {
  color: #082f49;
  font-size: 30px;
  width: 79px;
  overflow: hidden;
}
.hero .typewrite .dynamic {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.hero .typewrite li {
  list-style-type: none;
  color: #06b6d4;
  font-size: 30px;
  top: 0;
  animation: slide 6s steps(2) infinite;
  position: relative;
  text-align: start;
}
@keyframes slide {
  100% {
    top: -180px;
  }
}
.hero .typewrite li span {
  position: relative;
}
.hero .typewrite li span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #06b6d4;
  animation: typing 3s steps(10) infinite;
  background-color: #e0f2fe;
}
@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.hero .heading {
  max-width: 700px;
  height: auto;
  padding: 0 20px;
  margin-top: 50px;
}
.hero .heading h1 {
  font-size: 6vh;
}
.hero .heading p {
  margin-top: 10px;
}
.hero .heading .btn {
  margin-top: 25px;
}
.hero .heading .btn a {
  width: 100px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #06b6d4;
  padding: 12px 18px;
  text-decoration: none;
  border: 2px solid #082f49;
  transition: 0.3s;
}
.hero .heading .btn a:hover {
  color: #e0f2fe;
  background-color: #06b6d4;
  transition: 0.3s;
  border-color: #06b6d4;
}
.hero .programmer {
  max-width: 700px;
  height: 400px;
}
.hero .programmer img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about {
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
}
.about .container {
  width: 100%;
  height: 800px;
  padding: 50px 30px 100px;
  background-image: linear-gradient(to right top, #082f49, #0d4d6c, #0b6e90, #0591b3, #06b6d4);
}
.about .header {
  max-width: 1250px;
  margin: auto;
}
.about h1 {
  position: relative;
  width: 160px;
  color: #e0f2fe;
}
.about h1:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #06b6d4;
}
.about .wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 70px;
}
.about .wrap .profile {
  text-align: center;
}
.about .wrap .profile .overlay {
  position: relative;
  max-width: 300px;
  height: 270px;
  margin: auto;
  background-color: #06b6d4;
}
.about .wrap .profile img {
  width: 100%;
  position: absolute;
  top: 35px;
  left: 35px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.about .wrap .about-me {
  padding-left: 20px;
}
.about .wrap .about-me p {
  line-height: 30px;
  color: #e0f2fe;
  font-size: 1.2rem;
  font-weight: 100;
}
.about .wrap .about-me .name {
  margin-top: 15px;
}
.about .wrap .tech {
  margin-top: 10px;
}
.about .wrap .skills {
  margin-top: 10px;
  display: flex;
  color: #e0f2fe;
  font-weight: 300;
}
.about .wrap .skills .left div,
.about .wrap .skills .right div {
  margin: 8px;
}

.projects {
  padding: 100px 30px 0 30px;
  height: auto;
  margin: 80px auto 0 auto;
  max-width: 1300px;
}
.projects h1 {
  position: relative;
  width: 100px;
}
.projects h1:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #06b6d4;
}
.projects .container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap row;
  width: 100%;
}
.projects .container > div {
  max-width: 270px;
  height: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 10px;
  background-image: linear-gradient(to right bottom, #082f49, #0d4d6c, #0b6e90, #0591b3, #06b6d4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.projects .container img {
  width: 100%;
  height: 180px;
}
.projects .container .title {
  text-align: right;
  margin-top: 30px;
  margin-right: 16px;
  color: #e0f2fe;
  font-size: 1rem;
}
.projects .container .tools {
  display: flex;
  flex-wrap: wrap;
}
.projects .container .tools div {
  border-radius: 15px;
  font-size: 0.6rem;
  padding: 8px 12px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #155e75;
  color: #e0f2fe;
}
.projects .container .btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 22px;
  right: 5px;
}
.projects .container a {
  padding: 8px 15px;
  text-decoration: none;
  color: #e0f2fe;
}
.projects .container a:hover {
  color: #155e75;
}
.projects .container .demo {
  margin: 0 10px;
}
.projects .container .demo a {
  background-color: #06b6d4;
}
.projects .container .code a {
  background-color: #06b6d4;
}

.contact {
  padding: 65px 0 0;
  margin-top: 170px;
  width: 100%;
  position: relative;
  height: auto;
}
.contact .container {
  max-width: 1300px;
  margin: auto;
  padding: 0 30px;
  height: 600px;
}
.contact .wrap {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact form {
  max-width: 450px;
  padding: 0 10px;
}
.contact form label {
  color: #155e75;
}
.contact form input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #06b6d4;
  box-sizing: border-box;
  color: #082f49;
  background-color: #f5faff;
  font-size: 1rem;
}
.contact form input[type=submit] {
  width: 100px;
  background-color: #082f49;
  color: #e0f2fe;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  float: right;
}
.contact form input[type=submit]:hover {
  color: #06b6d4;
}
.contact form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #06b6d4;
  color: #082f49;
  background-color: #f5faff;
  font-size: 1rem;
}
.contact h1 {
  position: relative;
  width: 100px;
}
.contact h1:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #06b6d4;
}
.contact .details {
  width: 400px;
  padding: 0 20px;
  margin-top: 23px;
}
.contact .details .header {
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #155e75;
}
.contact .details .info {
  margin-top: 10px;
  font-size: 1rem;
  color: #082f49;
  display: flex;
  flex-direction: column;
}
.contact .details .info span {
  padding-top: 7px;
}
.contact .details .info a {
  color: #082f49;
  text-decoration: none;
}
.contact .details .info i {
  font-size: 1.2rem;
  margin-right: 20px;
}
.contact .footer {
  width: 100%;
  height: 70px;
  padding: 10px;
  position: absolute;
  background-color: #082f49;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0f2fe;
}
.contact .footer .icons a {
  color: #e0f2fe;
  font-size: 1.2rem;
  padding: 0 15px 0 0;
  color: #e0f2fe;
}
.contact .footer .icons a:hover {
  color: #06b6d4;
}
.contact .footer .divider {
  margin: 0 20px;
}

@media (max-width: 676px) {
  .about .container {
    height: auto;
  }
  .about .about-me {
    margin-top: 120px;
  }
}
@media (max-width: 450px) {
  .programmer {
    width: 360px;
    padding-top: 60px;
  }
}
@media (max-width: 769px) {
  nav {
    align-items: flex-start;
    padding: 0;
    flex-direction: column;
    height: 55px;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  nav ul li {
    margin-top: 70px;
  }
  nav .brand {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
  }
  nav .menubar {
    display: block;
  }
  .hero {
    padding-top: 80px;
    height: auto;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 878px) {
  .contact .footer {
    margin-top: 80px;
  }
}
nav.openNav {
  height: 60%;
}

.menubar.open span:nth-child(1),
.menubar.open span:nth-child(6) {
  transform: rotate(40deg);
}

.menubar.open span:nth-child(2),
.menubar.open span:nth-child(5) {
  transform: rotate(-40deg);
}

.menubar.open span:nth-child(1) {
  left: 2px !important;
  top: 6px !important;
}

.menubar.open span:nth-child(2) {
  left: calc(50% - 2px) !important;
  top: 6px !important;
}

.menubar.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.menubar.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.menubar.open span:nth-child(5) {
  left: 2px !important;
  top: 14px !important;
}

.menubar.open span:nth-child(6) {
  left: calc(50% - 2px) !important;
  top: 14px !important;
}/*# sourceMappingURL=style.css.map */